*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    border: border-box;
}
.navbar{
    height:4rem;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center; 
    
    
}/**************box2********************/
.nav-logo{
    height: 3rem;
    width: 6rem;
    margin-right: 3px;
    margin-left: 30px;
    padding-right:12px;
}
.logo{
    background-image: url("Goat_LOGO2.png");
    background-size: cover;
    height: 3.125rem;
    width: 100%
}
/**************box2********************/
 a{
    font-size: 14px;
    color: black;
    text-decoration: none;
    margin-right: 25px;
    padding: 8px;
}
/**************box3,4 & 5********************/

.video1{

    width:100%;
    height:600px;
}
.video1 video{

    width:100%;
    height:100%;
    object-fit:fill;
}
.video2 {

     width:100%;
    height:600px;
    margin-top:1px;
  
}
.video2 video{

    width:100%;
    height:100%;
    object-fit:fill;
}
.video3 {

     width:100%;
    height:600px;
    margin-top:1px;
  
}

.video3 video{

    width:100%;
    height:100%;
    object-fit:fill;
}

/**************box6*********************/
.image{
height:100%;
width: 100%;
}
.image img{
    height:100%;
    width: 100%;
    object-fit: cover;
}

/**************box7*********************/
.category
{
    height:800px;
    width: 1088px;
    margin-top: 100px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
}
.head{
    height:20px;
    width: 1088px;
    margin-top: 20px;
    margin-bottom:20px;
    padding: 20px;
    
}
.container{
    height: 840;
    width: 1088px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box{
    height:380px;
    width: 260px;
}
.box img{
    height: 70%;
    width: 100%;
    border-radius: 20px;
}
.box-content {
    height: 48px;
    width: 256px;
background-color: #d1001f;
color: black;
border-radius: 15%;
}
.charger{
 height: 48px;
 width:256px ;
}
.box-content a{
    height: 30px;
    width: 256px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.box img:hover{
    border: 1px solid grey ;
}
h2{
    font-size: 40px;
}
.container:hover{
    transform: rotate(0 deg);
    box-shadow: 2px rgba(0, 0, 0, 0.6);
}


.container1{
    height: 840;
    width: 1088px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.subscribe{
    height: 100px;
    width: 1300px;
    margin-left: 6rem;
    margin-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(254, 213, 219);
    display: flex;
    align-items: end;
    justify-content: space-evenly;
}
.subscribe-content{
    display: flex;
}
.container{
    height: 80;
    width: 1150px;
}
.row{
    height: 100;
    width: 1140px;
}
button{
    height: 40px;
    width: 120px ;
    background-color:#007185;
    color: white;
    text-decoration: none;
    border: none;
} 
input{
    height: 40px;
    width: 400px ;
}
pre{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}
.search-input:hover{
    border:3px solid #007185;
}
button:hover{
    background-color: black;
}
button:active{
    background-color: black;
}
.content-left h1{
font-size: 30px;
height: 35px;
width: 500px;
padding-bottom: 20px;
}
.content-right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
footer{
    height: 330px;
    width: 100%;
    background-color: white;

}
footer .container{
    height: 300px;
    width:100%;
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
}
.content{
    height: 300px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 .col1 img{
     height: 50px;
     width: 100px;
      margin-right: 40px;
      margin-bottom: 10px;
}
.col1{
    height: 300px;
    width: 250px;
    margin-left: 92px;
    padding: 0px 12px;
}
.col2{
    height: 300px;
    width: 180px;
    padding:0px 12px ;
    

}
.col3{
    height:300px;
    width: 295px;
    margin-right: 130px;
    padding : 0px,12px,16px;
    
}
.col1-content{
    height:23px;
    width: 50px;
    font-size: 20px;
    display: flex;
    padding-right: 30px;
    color: rgba(0, 0, 0, 0.4);
}
.col1-content a{
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.4);
}
.col1-content a:hover{
    color: #007185;
}
.col2{
    color: rgba(0, 0, 0, 0.4);
}
.links a{
    display:block;
    color: rgba(0, 0, 0, 0.4);
}
.col2 h3{
    height: 40px;
    width: 136px;
    font-size: 20px;
    margin-bottom: 8px;
    padding-bottom: 8px;

}
.col3{
    color: rgba(0, 0, 0, 0.4);
}
.col3 h5{
    height: 32px;
    width:216px;
    font-size: 20px;
    padding-bottom: 8px;
    margin-bottom: 8px;
}
.col3 p{
    font-size: 19px;
    margin-bottom: 8px;
    padding-bottom: 8px;
}